# Librerias

In [1]:
import pandas as pd
import numpy as np

import os

from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score,accuracy_score,confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import KBinsDiscretizer

from sklearn.impute import SimpleImputer

from scikitplot.metrics import plot_roc_curve

from scipy.stats import ks_2samp

import seaborn as sns

In [2]:
pd.set_option('display.max_columns',55)

# Extraccion de datos

In [3]:
path = '/home/david/Ciencia_Datos/'

In [4]:
import os

In [5]:
lst_files = os.listdir( path )
lst_files = [ os.path.join(path,f) for f in lst_files ]
lst_files = [f for f in lst_files if f[-3:] == 'csv']

In [5]:
df = pd.read_csv( lst_files[0] )

In [6]:
df.shape[0]

101766

# Limpieza de datos

In [7]:
df.dtypes

id                           int64
encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide.metformin         object
glipizide.metformin         object
glimepiride.pioglitazone    object
metformin.rosiglitazone     object
metformin.pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [8]:
df.columns

Index(['id', 'encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide.metformin', 'glipizide.metformin',
       'glimepiride.pioglitazone', 'metformin.rosiglitazone',
       'metformin.pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

# Variables

In [9]:
df.head(3)

,id,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,1,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,2,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,3,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO

In [10]:
um   = ['id']
# discreta
vard = ['race', 'gender', 'age','weight','admission_type_id','discharge_disposition_id',
        'admission_source_id' ,'payer_code', 'medical_specialty','max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide.metformin', 'glipizide.metformin',
       'glimepiride.pioglitazone', 'metformin.rosiglitazone',
       'metformin.pioglitazone', 'change', 'readmitted']
# continua
varc = ['time_in_hospital','num_lab_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'diag_1',
       'diag_2', 'diag_3','number_inpatient','number_diagnoses']
tgt = ['diabetesMed']

In [11]:
df['diabetesMed'].unique()

array(['No', 'Yes'], dtype=object)

In [12]:
df['diabetesMed'] = df['diabetesMed'].map(lambda x: 0 if x=='No' else 1)

In [13]:
df[df['diabetesMed']==1]['insulin'].unique()

array(['Up', 'No', 'Steady', 'Down'], dtype=object)

In [14]:
df['id'] = df['id'].astype(str)

# Analisis Exploratorio

## Discreto

### Frecuencias

In [15]:
def freq(df,var):
    
    if type(var) != list:
        var = [var]
    
    for v in var:
        aux = df[v].value_counts().to_frame().rename(columns={v:'FA'})
        aux['FR'] = aux['FA'] / aux['FA'].sum()
        aux[['FAA','FRA']] = aux.apply(np.cumsum )
        print(f"Frecuencias para la variable {v} \n")
        display(aux)
        print("\n")

In [16]:
freq(df,vard)

Frecuencias para la variable race

                    FA        FR     FAA       FRA
Caucasian        76099  0.747784   76099  0.747784
AfricanAmerican  19210  0.188766   95309  0.936551
?                 2273  0.022336   97582  0.958886
Hispanic          2037  0.020017   99619  0.978903
Other             1506  0.014799  101125  0.993701
Asian              641  0.006299  101766  1.000000

Frecuencias para la variable gender

                    FA        FR     FAA       FRA
Female           54708  0.537586   54708  0.537586
Male             47055  0.462384  101763  0.999971
Unknown/Invalid      3  0.000029  101766  1.000000

Frecuencias para la variable age

             FA        FR     FAA       FRA
[70-80)   26068  0.256156   26068  0.256156
[60-70)   22483  0.220928   48551  0.477085
[50-60)   17256  0.169565   65807  0.646650
[80-90)   17197  0.168986   83004  0.815636
[40-50)    9685  0.095169   92689  0.910805
[30-40)    3775  0.037095   96464  0.947900
[90-100)   2793  0.027445   99257  0.975345
[20-30)    1657  0.016282  100914  0.991628
[10-20)     691  0.006790  101605  0.998418
[0-10)      161  0.001582  101766  1.000000

Frecuencias para la variable weight

              FA        FR     FAA       FRA
?          98569  0.968585   98569  0.968585
[75-100)    1336  0.013128   99905  0.981713
[50-75)      897  0.008814  100802  0.990527
[100-125)    625  0.006142  101427  0.996669
[125-150)    145  0.001425  101572  0.998094
[25-50)       97  0.000953  101669  0.999047
[0-25)        48  0.000472  101717  0.999519
[150-175)     35  0.000344  101752  0.999862
[175-200)     11  0.000108  101763  0.999971
>200           3  0.000029  101766  1.000000

Frecuencias para la variable admission_type_id

      FA        FR     FAA       FRA
1  53990  0.530531   53990  0.530531
3  18869  0.185416   72859  0.715946
2  18480  0.181593   91339  0.897539
6   5291  0.051992   96630  0.949531
5   4785  0.047020  101415  0.996551
8    320  0.003144  101735  0.999695
7     21  0.000206  101756  0.999902
4     10  0.000098  101766  1.000000

Frecuencias para la variable discharge_disposition_id

       FA        FR     FAA       FRA
1   60234  0.591887   60234  0.591887
3   13954  0.137118   74188  0.729006
6   12902  0.126781   87090  0.855787
18   3691  0.036269   90781  0.892056
2    2128  0.020911   92909  0.912967
22   1993  0.019584   94902  0.932551
11   1642  0.016135   96544  0.948686
5    1184  0.011635   97728  0.960321
25    989  0.009718   98717  0.970039
4     815  0.008009   99532  0.978048
7     623  0.006122  100155  0.984170
23    412  0.004049  100567  0.988218
13    399  0.003921  100966  0.992139
14    372  0.003655  101338  0.995794
28    139  0.001366  101477  0.997160
8     108  0.001061  101585  0.998221
15     63  0.000619  101648  0.998840
24     48  0.000472  101696  0.999312
9      21  0.000206  101717  0.999519
17     14  0.000138  101731  0.999656
16     11  0.000108  101742  0.999764
19      8  0.000079  101750  0.999843
10      6  0.000059  101756  0.999902
27      5  0.000049  101761  0.999951
12      3  0.000029  101764  0.999980
20      2  0.000020  101766  1.000000

Frecuencias para la variable admission_source_id

       FA        FR     FAA       FRA
7   57494  0.564963   57494  0.564963
1   29565  0.290519   87059  0.855482
17   6781  0.066633   93840  0.922115
4    3187  0.031317   97027  0.953432
6    2264  0.022247   99291  0.975680
2    1104  0.010848  100395  0.986528
5     855  0.008402  101250  0.994930
3     187  0.001838  101437  0.996767
20    161  0.001582  101598  0.998349
9     125  0.001228  101723  0.999577
8      16  0.000157  101739  0.999735
22     12  0.000118  101751  0.999853
10      8  0.000079  101759  0.999931
14      2  0.000020  101761  0.999951
11      2  0.000020  101763  0.999971
25      2  0.000020  101765  0.999990
13      1  0.000010  101766  1.000000

Frecuencias para la variable payer_code

       FA        FR     FAA       FRA
?   40256  0.395574   40256  0.395574
MC  32439  0.318761   72695  0.714335
HM   6274  0.061651   78969  0.775986
SP   5007  0.049201   83976  0.825187
BC   4655  0.045742   88631  0.870929
MD   3532  0.034707   92163  0.905636
CP   2533  0.024890   94696  0.930527
UN   2448  0.024055   97144  0.954582
CM   1937  0.019034   99081  0.973616
OG   1033  0.010151  100114  0.983767
PO    592  0.005817  100706  0.989584
DM    549  0.005395  101255  0.994979
CH    146  0.001435  101401  0.996413
WC    135  0.001327  101536  0.997740
OT     95  0.000934  101631  0.998673
MP     79  0.000776  101710  0.999450
SI     55  0.000540  101765  0.999990
FR      1  0.000010  101766  1.000000

Frecuencias para la variable medical_specialty

                                  FA        FR     FAA       FRA
?                              49949  0.490822   49949  0.490822
InternalMedicine               14635  0.143810   64584  0.634632
Emergency/Trauma                7565  0.074337   72149  0.708970
Family/GeneralPractice          7440  0.073109   79589  0.782078
Cardiology                      5352  0.052591   84941  0.834670
...                              ...       ...     ...       ...
SportsMedicine                     1  0.000010  101762  0.999961
Speech                             1  0.000010  101763  0.999971
Perinatology                       1  0.000010  101764  0.999980
Neurophysiology                    1  0.000010  101765  0.999990
Pediatrics-InfectiousDiseases      1  0.000010  101766  1.000000

[73 rows x 4 columns]

Frecuencias para la variable max_glu_serum

         FA        FR     FAA       FRA
None  96420  0.947468   96420  0.947468
Norm   2597  0.025519   99017  0.972987
>200   1485  0.014592  100502  0.987579
>300   1264  0.012421  101766  1.000000

Frecuencias para la variable A1Cresult

         FA        FR     FAA       FRA
None  84748  0.832773   84748  0.832773
>8     8216  0.080734   92964  0.913507
Norm   4990  0.049034   97954  0.962542
>7     3812  0.037458  101766  1.000000

Frecuencias para la variable metformin

           FA        FR     FAA       FRA
No      81778  0.803589   81778  0.803589
Steady  18346  0.180276  100124  0.983865
Up       1067  0.010485  101191  0.994350
Down      575  0.005650  101766  1.000000

Frecuencias para la variable repaglinide

            FA        FR     FAA       FRA
No      100227  0.984877  100227  0.984877
Steady    1384  0.013600  101611  0.998477
Up         110  0.001081  101721  0.999558
Down        45  0.000442  101766  1.000000

Frecuencias para la variable nateglinide

            FA        FR     FAA       FRA
No      101063  0.993092  101063  0.993092
Steady     668  0.006564  101731  0.999656
Up          24  0.000236  101755  0.999892
Down        11  0.000108  101766  1.000000

Frecuencias para la variable chlorpropamide

            FA        FR     FAA       FRA
No      101680  0.999155  101680  0.999155
Steady      79  0.000776  101759  0.999931
Up           6  0.000059  101765  0.999990
Down         1  0.000010  101766  1.000000

Frecuencias para la variable glimepiride

           FA        FR     FAA       FRA
No      96575  0.948991   96575  0.948991
Steady   4670  0.045890  101245  0.994880
Up        327  0.003213  101572  0.998094
Down      194  0.001906  101766  1.000000

Frecuencias para la variable acetohexamide

            FA       FR     FAA      FRA
No      101765  0.99999  101765  0.99999
Steady       1  0.00001  101766  1.00000

Frecuencias para la variable glipizide

           FA        FR     FAA       FRA
No      89080  0.875341   89080  0.875341
Steady  11356  0.111589  100436  0.986931
Up        770  0.007566  101206  0.994497
Down      560  0.005503  101766  1.000000

Frecuencias para la variable glyburide

           FA        FR     FAA       FRA
No      91116  0.895348   91116  0.895348
Steady   9274  0.091131  100390  0.986479
Up        812  0.007979  101202  0.994458
Down      564  0.005542  101766  1.000000

Frecuencias para la variable tolbutamide

            FA        FR     FAA       FRA
No      101743  0.999774  101743  0.999774
Steady      23  0.000226  101766  1.000000

Frecuencias para la variable pioglitazone

           FA        FR     FAA       FRA
No      94438  0.927992   94438  0.927992
Steady   6976  0.068549  101414  0.996541
Up        234  0.002299  101648  0.998840
Down      118  0.001160  101766  1.000000

Frecuencias para la variable rosiglitazone

           FA        FR     FAA       FRA
No      95401  0.937455   95401  0.937455
Steady   6100  0.059941  101501  0.997396
Up        178  0.001749  101679  0.999145
Down       87  0.000855  101766  1.000000

Frecuencias para la variable acarbose

            FA        FR     FAA       FRA
No      101458  0.996973  101458  0.996973
Steady     295  0.002899  101753  0.999872
Up          10  0.000098  101763  0.999971
Down         3  0.000029  101766  1.000000

Frecuencias para la variable miglitol

            FA        FR     FAA       FRA
No      101728  0.999627  101728  0.999627
Steady      31  0.000305  101759  0.999931
Down         5  0.000049  101764  0.999980
Up           2  0.000020  101766  1.000000

Frecuencias para la variable troglitazone

            FA        FR     FAA       FRA
No      101763  0.999971  101763  0.999971
Steady       3  0.000029  101766  1.000000

Frecuencias para la variable tolazamide

            FA        FR     FAA       FRA
No      101727  0.999617  101727  0.999617
Steady      38  0.000373  101765  0.999990
Up           1  0.000010  101766  1.000000

Frecuencias para la variable examide

        FA   FR     FAA  FRA
No  101766  1.0  101766  1.0

Frecuencias para la variable citoglipton

        FA   FR     FAA  FRA
No  101766  1.0  101766  1.0

Frecuencias para la variable insulin

           FA        FR     FAA       FRA
No      47383  0.465607   47383  0.465607
Steady  30849  0.303137   78232  0.768744
Down    12218  0.120060   90450  0.888804
Up      11316  0.111196  101766  1.000000

Frecuencias para la variable glyburide.metformin

            FA        FR     FAA       FRA
No      101060  0.993063  101060  0.993063
Steady     692  0.006800  101752  0.999862
Up           8  0.000079  101760  0.999941
Down         6  0.000059  101766  1.000000

Frecuencias para la variable glipizide.metformin

            FA        FR     FAA       FRA
No      101753  0.999872  101753  0.999872
Steady      13  0.000128  101766  1.000000

Frecuencias para la variable glimepiride.pioglitazone

            FA       FR     FAA      FRA
No      101765  0.99999  101765  0.99999
Steady       1  0.00001  101766  1.00000

Frecuencias para la variable metformin.rosiglitazone

            FA       FR     FAA      FRA
No      101764  0.99998  101764  0.99998
Steady       2  0.00002  101766  1.00000

Frecuencias para la variable metformin.pioglitazone

            FA       FR     FAA      FRA
No      101765  0.99999  101765  0.99999
Steady       1  0.00001  101766  1.00000

Frecuencias para la variable change

       FA        FR     FAA       FRA
No  54755  0.538048   54755  0.538048
Ch  47011  0.461952  101766  1.000000

Frecuencias para la variable readmitted

        FA        FR     FAA       FRA
NO   54864  0.539119   54864  0.539119
>30  35545  0.349282   90409  0.888401
<30  11357  0.111599  101766  1.000000

### Normalizar

In [17]:
def normalizar(df,v,umbral):
    aux = df[v].value_counts(True).to_frame()
    aux[f'norm_{v}'] = np.where( aux[v] < umbral , 'CATEGORIAS PEQUEÑAS' , aux.index )

    moda = aux.head(1)[f'norm_{v}'].values[0]

    if aux.loc[aux[f'norm_{v}'] == 'CATEGORIAS PEQUEÑAS' ][v].sum() < umbral:
        aux[f'norm_{v}'].replace( {'CATEGORIA PEQUEÑAS':moda} , inplace=True)

    aux.drop(v, axis=1, inplace=True)
    aux.reset_index(inplace=True)

    return df.merge(aux,left_on=[v], right_on='index', how='inner').drop('index',axis=1)

In [18]:
for v in vard:
    df = normalizar(df,v,0.05)

In [19]:
varn = df.filter(like='norm_').columns.tolist()
varn.sort()

In [20]:
varn

['norm_A1Cresult',
 'norm_acarbose',
 'norm_acetohexamide',
 'norm_admission_source_id',
 'norm_admission_type_id',
 'norm_age',
 'norm_change',
 'norm_chlorpropamide',
 'norm_citoglipton',
 'norm_discharge_disposition_id',
 'norm_examide',
 'norm_gender',
 'norm_glimepiride',
 'norm_glimepiride.pioglitazone',
 'norm_glipizide',
 'norm_glipizide.metformin',
 'norm_glyburide',
 'norm_glyburide.metformin',
 'norm_insulin',
 'norm_max_glu_serum',
 'norm_medical_specialty',
 'norm_metformin',
 'norm_metformin.pioglitazone',
 'norm_metformin.rosiglitazone',
 'norm_miglitol',
 'norm_nateglinide',
 'norm_payer_code',
 'norm_pioglitazone',
 'norm_race',
 'norm_readmitted',
 'norm_repaglinide',
 'norm_rosiglitazone',
 'norm_tolazamide',
 'norm_tolbutamide',
 'norm_troglitazone',
 'norm_weight']

In [21]:
freq(df,varn)

Frecuencias para la variable norm_A1Cresult

                        FA        FR     FAA       FRA
None                 84748  0.832773   84748  0.832773
CATEGORIAS PEQUEÑAS   8802  0.086493   93550  0.919266
>8                    8216  0.080734  101766  1.000000

Frecuencias para la variable norm_acarbose

                         FA        FR     FAA       FRA
No                   101458  0.996973  101458  0.996973
CATEGORIAS PEQUEÑAS     308  0.003027  101766  1.000000

Frecuencias para la variable norm_acetohexamide

                         FA       FR     FAA      FRA
No                   101765  0.99999  101765  0.99999
CATEGORIAS PEQUEÑAS       1  0.00001  101766  1.00000

Frecuencias para la variable norm_admission_source_id

                        FA        FR     FAA       FRA
7                    57494  0.564963   57494  0.564963
1                    29565  0.290519   87059  0.855482
CATEGORIAS PEQUEÑAS   7926  0.077885   94985  0.933367
17                    6781  0.066633  101766  1.000000

Frecuencias para la variable norm_admission_type_id

                        FA        FR     FAA       FRA
1                    53990  0.530531   53990  0.530531
3                    18869  0.185416   72859  0.715946
2                    18480  0.181593   91339  0.897539
6                     5291  0.051992   96630  0.949531
CATEGORIAS PEQUEÑAS   5136  0.050469  101766  1.000000

Frecuencias para la variable norm_age

                        FA        FR     FAA       FRA
[70-80)              26068  0.256156   26068  0.256156
[60-70)              22483  0.220928   48551  0.477085
[50-60)              17256  0.169565   65807  0.646650
[80-90)              17197  0.168986   83004  0.815636
[40-50)               9685  0.095169   92689  0.910805
CATEGORIAS PEQUEÑAS   9077  0.089195  101766  1.000000

Frecuencias para la variable norm_change

       FA        FR     FAA       FRA
No  54755  0.538048   54755  0.538048
Ch  47011  0.461952  101766  1.000000

Frecuencias para la variable norm_chlorpropamide

                         FA        FR     FAA       FRA
No                   101680  0.999155  101680  0.999155
CATEGORIAS PEQUEÑAS      86  0.000845  101766  1.000000

Frecuencias para la variable norm_citoglipton

        FA   FR     FAA  FRA
No  101766  1.0  101766  1.0

Frecuencias para la variable norm_discharge_disposition_id

                        FA        FR     FAA       FRA
1                    60234  0.591887   60234  0.591887
CATEGORIAS PEQUEÑAS  14676  0.144213   74910  0.736100
3                    13954  0.137118   88864  0.873219
6                    12902  0.126781  101766  1.000000

Frecuencias para la variable norm_examide

        FA   FR     FAA  FRA
No  101766  1.0  101766  1.0

Frecuencias para la variable norm_gender

                        FA        FR     FAA       FRA
Female               54708  0.537586   54708  0.537586
Male                 47055  0.462384  101763  0.999971
CATEGORIAS PEQUEÑAS      3  0.000029  101766  1.000000

Frecuencias para la variable norm_glimepiride

                        FA        FR     FAA       FRA
No                   96575  0.948991   96575  0.948991
CATEGORIAS PEQUEÑAS   5191  0.051009  101766  1.000000

Frecuencias para la variable norm_glimepiride.pioglitazone

                         FA       FR     FAA      FRA
No                   101765  0.99999  101765  0.99999
CATEGORIAS PEQUEÑAS       1  0.00001  101766  1.00000

Frecuencias para la variable norm_glipizide

                        FA        FR     FAA       FRA
No                   89080  0.875341   89080  0.875341
Steady               11356  0.111589  100436  0.986931
CATEGORIAS PEQUEÑAS   1330  0.013069  101766  1.000000

Frecuencias para la variable norm_glipizide.metformin

                         FA        FR     FAA       FRA
No                   101753  0.999872  101753  0.999872
CATEGORIAS PEQUEÑAS      13  0.000128  101766  1.000000

Frecuencias para la variable norm_glyburide

                        FA        FR     FAA       FRA
No                   91116  0.895348   91116  0.895348
Steady                9274  0.091131  100390  0.986479
CATEGORIAS PEQUEÑAS   1376  0.013521  101766  1.000000

Frecuencias para la variable norm_glyburide.metformin

                         FA        FR     FAA       FRA
No                   101060  0.993063  101060  0.993063
CATEGORIAS PEQUEÑAS     706  0.006937  101766  1.000000

Frecuencias para la variable norm_insulin

           FA        FR     FAA       FRA
No      47383  0.465607   47383  0.465607
Steady  30849  0.303137   78232  0.768744
Down    12218  0.120060   90450  0.888804
Up      11316  0.111196  101766  1.000000

Frecuencias para la variable norm_max_glu_serum

                        FA        FR     FAA       FRA
None                 96420  0.947468   96420  0.947468
CATEGORIAS PEQUEÑAS   5346  0.052532  101766  1.000000

Frecuencias para la variable norm_medical_specialty

                           FA        FR     FAA       FRA
?                       49949  0.490822   49949  0.490822
CATEGORIAS PEQUEÑAS     16825  0.165330   66774  0.656152
InternalMedicine        14635  0.143810   81409  0.799963
Emergency/Trauma         7565  0.074337   88974  0.874300
Family/GeneralPractice   7440  0.073109   96414  0.947409
Cardiology               5352  0.052591  101766  1.000000

Frecuencias para la variable norm_metformin

                        FA        FR     FAA       FRA
No                   81778  0.803589   81778  0.803589
Steady               18346  0.180276  100124  0.983865
CATEGORIAS PEQUEÑAS   1642  0.016135  101766  1.000000

Frecuencias para la variable norm_metformin.pioglitazone

                         FA       FR     FAA      FRA
No                   101765  0.99999  101765  0.99999
CATEGORIAS PEQUEÑAS       1  0.00001  101766  1.00000

Frecuencias para la variable norm_metformin.rosiglitazone

                         FA       FR     FAA      FRA
No                   101764  0.99998  101764  0.99998
CATEGORIAS PEQUEÑAS       2  0.00002  101766  1.00000

Frecuencias para la variable norm_miglitol

                         FA        FR     FAA       FRA
No                   101728  0.999627  101728  0.999627
CATEGORIAS PEQUEÑAS      38  0.000373  101766  1.000000

Frecuencias para la variable norm_nateglinide

                         FA        FR     FAA       FRA
No                   101063  0.993092  101063  0.993092
CATEGORIAS PEQUEÑAS     703  0.006908  101766  1.000000

Frecuencias para la variable norm_payer_code

                        FA        FR     FAA       FRA
?                    40256  0.395574   40256  0.395574
MC                   32439  0.318761   72695  0.714335
CATEGORIAS PEQUEÑAS  22797  0.224014   95492  0.938349
HM                    6274  0.061651  101766  1.000000

Frecuencias para la variable norm_pioglitazone

                        FA        FR     FAA       FRA
No                   94438  0.927992   94438  0.927992
Steady                6976  0.068549  101414  0.996541
CATEGORIAS PEQUEÑAS    352  0.003459  101766  1.000000

Frecuencias para la variable norm_race

                        FA        FR     FAA       FRA
Caucasian            76099  0.747784   76099  0.747784
AfricanAmerican      19210  0.188766   95309  0.936551
CATEGORIAS PEQUEÑAS   6457  0.063449  101766  1.000000

Frecuencias para la variable norm_readmitted

        FA        FR     FAA       FRA
NO   54864  0.539119   54864  0.539119
>30  35545  0.349282   90409  0.888401
<30  11357  0.111599  101766  1.000000

Frecuencias para la variable norm_repaglinide

                         FA        FR     FAA       FRA
No                   100227  0.984877  100227  0.984877
CATEGORIAS PEQUEÑAS    1539  0.015123  101766  1.000000

Frecuencias para la variable norm_rosiglitazone

                        FA        FR     FAA       FRA
No                   95401  0.937455   95401  0.937455
Steady                6100  0.059941  101501  0.997396
CATEGORIAS PEQUEÑAS    265  0.002604  101766  1.000000

Frecuencias para la variable norm_tolazamide

                         FA        FR     FAA       FRA
No                   101727  0.999617  101727  0.999617
CATEGORIAS PEQUEÑAS      39  0.000383  101766  1.000000

Frecuencias para la variable norm_tolbutamide

                         FA        FR     FAA       FRA
No                   101743  0.999774  101743  0.999774
CATEGORIAS PEQUEÑAS      23  0.000226  101766  1.000000

Frecuencias para la variable norm_troglitazone

                         FA        FR     FAA       FRA
No                   101763  0.999971  101763  0.999971
CATEGORIAS PEQUEÑAS       3  0.000029  101766  1.000000

Frecuencias para la variable norm_weight

                        FA        FR     FAA       FRA
?                    98569  0.968585   98569  0.968585
CATEGORIAS PEQUEÑAS   3197  0.031415  101766  1.000000

### Unarias

In [22]:
unarias = [ v for v,conteo in zip( varn , [ df[v].unique().shape[0] for v in varn ] ) if conteo == 1 ]

In [23]:
unarias

['norm_citoglipton', 'norm_examide']

In [24]:
varn = [v for v in varn  if v not in unarias]

In [25]:
varn

['norm_A1Cresult',
 'norm_acarbose',
 'norm_acetohexamide',
 'norm_admission_source_id',
 'norm_admission_type_id',
 'norm_age',
 'norm_change',
 'norm_chlorpropamide',
 'norm_discharge_disposition_id',
 'norm_gender',
 'norm_glimepiride',
 'norm_glimepiride.pioglitazone',
 'norm_glipizide',
 'norm_glipizide.metformin',
 'norm_glyburide',
 'norm_glyburide.metformin',
 'norm_insulin',
 'norm_max_glu_serum',
 'norm_medical_specialty',
 'norm_metformin',
 'norm_metformin.pioglitazone',
 'norm_metformin.rosiglitazone',
 'norm_miglitol',
 'norm_nateglinide',
 'norm_payer_code',
 'norm_pioglitazone',
 'norm_race',
 'norm_readmitted',
 'norm_repaglinide',
 'norm_rosiglitazone',
 'norm_tolazamide',
 'norm_tolbutamide',
 'norm_troglitazone',
 'norm_weight']

## Continuas

### Ausentes

In [26]:
for c in ['diag_1','diag_2', 'diag_3']:
    print( c , df[c].map(type).unique().tolist())

diag_1 [<class 'str'>]
diag_2 [<class 'str'>]
diag_3 [<class 'str'>]

In [27]:
df['diag_1'] = df['diag_1'].astype(str)
df['diag_2'] = df['diag_2'].astype(str)
df['diag_3'] = df['diag_3'].astype(str)

In [28]:
for c in ['diag_1','diag_2', 'diag_3']:
    print( c , df[c].map(type).unique().tolist())

diag_1 [<class 'str'>]
diag_2 [<class 'str'>]
diag_3 [<class 'str'>]

In [29]:
for c in ['diag_1','diag_2', 'diag_3']:
    df[c] = df[c].map(lambda x: '?' if x[0]=='V' else x)
    df[c] = df[c].map(lambda x: '?' if x[0]=='E' else x)

In [30]:
for c in varc:
    df[c].loc[df[c] == '?'] = np.nan

/tmp/ipykernel_21913/1682592610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c].loc[df[c] == '?'] = np.nan

In [31]:
for c in ['diag_1','diag_2', 'diag_3']:
    df[c] = df[c].astype(float)

In [32]:
miss = 1 - df[varc].describe().T[['count']] / len(df)
miss

                       count
time_in_hospital    0.000000
num_lab_procedures  0.000000
num_medications     0.000000
number_outpatient   0.000000
number_emergency    0.000000
diag_1              0.016371
diag_2              0.028438
diag_3              0.063685
number_inpatient    0.000000
number_diagnoses    0.000000

In [33]:
x = df[varc]

In [34]:
im = SimpleImputer(strategy='median')

In [35]:
im.fit(x)

SimpleImputer(strategy='median')

In [36]:
x[varc] = im.transform(x[varc])

/tmp/ipykernel_21913/1148555675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[varc] = im.transform(x[varc])

In [37]:
x

,time_in_hospital,num_lab_procedures,num_medications,number_outpatient,number_emergency,diag_1,diag_2,diag_3,number_inpatient,number_diagnoses
0,1.0,41.0,1.0,0.0,0.0,250.83,425.0,403.0,0.0,1.0
1,2.0,13.0,1.0,0.0,0.0,250.03,278.0,403.0,0.0,2.0
2,2.0,2.0,1.0,0.0,0.0,250.00,279.0,701.0,0.0,4.0
3,2.0,3.0,3.0,0.0,0.0,250.02,276.0,79.0,0.0,3.0
4,1.0,50.0,8.0,0.0,0.0,250.13,276.0,403.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...
101761,5.0,36.0,20.0,3.0,0.0,250.60,197.0,157.0,1.0,8.0
101762,4.0,29.0,11.0,0.0,0.0,682.00,250.7,41.0,1.0,9.0
101763,4.0,30.0,24.0,2.0,0.0,250.80,707.0,403.0,3.0,2.0
101764,4.0,1.0,4.0,0.0,0.0,812.00,250.0,781.0,0.0,4.0
101765,2.0,2.0,14.0,1.0,0.0,428.00,491.0,401.0,1.0,4.0

In [38]:
ks = pd.DataFrame( map( lambda v: ( v , ks_2samp( df[v].dropna() , x[v] ).statistic ) , varc  ) , columns = ['var','ks']   )
ks

                  var        ks
0    time_in_hospital  0.000000
1  num_lab_procedures  0.000000
2     num_medications  0.000000
3   number_outpatient  0.000000
4    number_emergency  0.000000
5              diag_1  0.008170
6              diag_2  0.014213
7              diag_3  0.031084
8    number_inpatient  0.000000
9    number_diagnoses  0.000000

In [39]:
# Sin alterados

In [40]:
df[varc] = im.transform(df[varc])

### Discretizar

In [41]:
df = df.rename(columns={'diag_1':'diag1',
                  'diag_2':'diag2',
                  'diag_3':'diag3'})

In [42]:
def discretizar(df, v, k):

    kb = KBinsDiscretizer( n_bins = k , encode='ordinal', strategy='quantile')
    kb.fit(df[[v]])
    df[f'd_{v}_{k}'] = pd.cut( df[v] , bins=kb.bin_edges_[0] , include_lowest=True ).astype(str)

    return df

In [43]:
varc

['time_in_hospital',
 'num_lab_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'diag_1',
 'diag_2',
 'diag_3',
 'number_inpatient',
 'number_diagnoses']

In [44]:
varc  = ['time_in_hospital',
 'num_lab_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'diag1',
 'diag2',
 'diag3',
 'number_inpatient',
 'number_diagnoses']

In [45]:
for v in varc:
    for k in range(2,6):
        df = discretizar( df , v , k )

/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(
/home/david/AMV/dave/lib/python3.10/site-packages/sklearn/preprocessing/_discretization.py:291: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(

In [46]:
vari = df.filter(like='d_').columns.to_list()

In [47]:
vari

['d_time_in_hospital_2',
 'd_time_in_hospital_3',
 'd_time_in_hospital_4',
 'd_time_in_hospital_5',
 'd_num_lab_procedures_2',
 'd_num_lab_procedures_3',
 'd_num_lab_procedures_4',
 'd_num_lab_procedures_5',
 'd_num_medications_2',
 'd_num_medications_3',
 'd_num_medications_4',
 'd_num_medications_5',
 'd_number_outpatient_2',
 'd_number_outpatient_3',
 'd_number_outpatient_4',
 'd_number_outpatient_5',
 'd_number_emergency_2',
 'd_number_emergency_3',
 'd_number_emergency_4',
 'd_number_emergency_5',
 'd_diag1_2',
 'd_diag1_3',
 'd_diag1_4',
 'd_diag1_5',
 'd_diag2_2',
 'd_diag2_3',
 'd_diag2_4',
 'd_diag2_5',
 'd_diag3_2',
 'd_diag3_3',
 'd_diag3_4',
 'd_diag3_5',
 'd_number_inpatient_2',
 'd_number_inpatient_3',
 'd_number_inpatient_4',
 'd_number_inpatient_5',
 'd_number_diagnoses_2',
 'd_number_diagnoses_3',
 'd_number_diagnoses_4',
 'd_number_diagnoses_5']

## IV Funcion

In [48]:
def calculo_iv( df, v, tgt ):
    aux = df.pivot_table( index = v, 
                         columns= tgt, 
                         values = um[0], 
                         aggfunc= 'count', 
                         fill_value=0 )

    aux[list( range(2) ) ] = aux/aux.apply(np.sum)

    aux['w'] = np.log( aux[0] / aux[1] )
    aux['iv'] = (aux[0] - aux[1]) * aux['w']
    
    return v, aux['iv'].sum()

# Particion de datos

## Mejores variables

In [49]:
X = df[ vari + ['id'] ].copy()
y = df[ tgt  + ['id'] ].copy()

Xt, Xv, yt, yv = train_test_split(X, y, train_size=.7, random_state=2000 )

In [50]:
Xt = Xt.merge( yt , on=um, how='inner').reset_index(drop=True)

In [51]:
# iv de discretizadas -> vari
iv = pd.DataFrame( map( lambda v: calculo_iv( df, v, tgt  ) , vari ) , 
                  columns=['variable','iv'] )

iv['raiz'] = iv['variable'].map( lambda x: '_'.join(x.split('_')[1:2] ) )
iv = iv.sort_values(by=['raiz','iv'],ascending=[1,0]).reset_index(drop=True)

# Eliminación de ivs infs
iv = iv.loc[iv['iv'] != np.inf].reset_index(drop=True)
iv['id'] = iv.groupby('raiz').cumcount()+1
iv = iv.loc[iv.id == 1]

iv.drop(columns=['raiz','id'],inplace=True)

In [52]:
iv

                variable        iv
0              d_diag1_5  0.014494
4              d_diag2_4  0.003711
8              d_diag3_4  0.001103
12   d_num_medications_5  0.218622
20  d_number_diagnoses_5  0.004292
36  d_time_in_hospital_5  0.027428

In [53]:
besti = iv['variable'].tolist()
besti

['d_diag1_5',
 'd_diag2_4',
 'd_diag3_4',
 'd_num_medications_5',
 'd_number_diagnoses_5',
 'd_time_in_hospital_5']

In [54]:
X[besti]

,d_diag1_5,d_diag2_4,d_diag3_4,d_num_medications_5,d_number_diagnoses_5,d_time_in_hospital_5
0,"(2.999, 296.0]","(278.0, 425.0]","(276.0, 403.0]","(0.999, 9.0]","(0.999, 5.0]","(0.999, 2.0]"
1,"(2.999, 296.0]","(4.999, 278.0]","(276.0, 403.0]","(0.999, 9.0]","(0.999, 5.0]","(0.999, 2.0]"
2,"(2.999, 296.0]","(278.0, 425.0]","(493.75, 999.0]","(0.999, 9.0]","(0.999, 5.0]","(0.999, 2.0]"
3,"(2.999, 296.0]","(4.999, 278.0]","(2.999, 276.0]","(0.999, 9.0]","(0.999, 5.0]","(0.999, 2.0]"
4,"(2.999, 296.0]","(4.999, 278.0]","(276.0, 403.0]","(0.999, 9.0]","(0.999, 5.0]","(0.999, 2.0]"
...,...,...,...,...,...,...
101761,"(2.999, 296.0]","(4.999, 278.0]","(2.999, 276.0]","(17.0, 22.0]","(7.0, 9.0]","(4.0, 7.0]"
101762,"(491.0, 682.0]","(4.999, 278.0]","(2.999, 276.0]","(9.0, 13.0]","(7.0, 9.0]","(3.0, 4.0]"
101763,"(2.999, 296.0]","(518.0, 999.0]","(276.0, 403.0]","(22.0, 81.0]","(0.999, 5.0]","(3.0, 4.0]"
101764,"(682.0, 999.0]","(4.999, 278.0]","(493.75, 999.0]","(0.999, 9.0]","(0.999, 5.0]","(3.0, 4.0]"
101765,"(296.0, 428.0]","(425.0, 518.0]","(276.0, 403.0]","(13.0, 17.0]","(0.999, 5.0]","(0.999, 2.0]"

## Variables para Scoring

In [55]:
X = df[ vari + ['id'] ].copy()
y = df[ tgt  + ['id'] ].copy()

Xt, Xv, yt, yv = train_test_split(X, y, train_size=.7, random_state=2000 )

print(Xt.shape, Xv.shape, yt.shape[0], yv.shape[0])

Xt = Xt.merge( yt , on=um, how='inner').reset_index(drop=True)

(71236, 41) (30530, 41) 71236 30530

In [56]:
# iv de normalizadas -> varn
ivd = pd.DataFrame( map( lambda v: calculo_iv( df, v, tgt  ) , varn ) , 
                   columns=['variable','iv'] )

/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/david/AMV/dave/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [57]:
ivd

                         variable        iv
0                  norm_A1Cresult  0.065663
1                   norm_acarbose       inf
2              norm_acetohexamide       inf
3        norm_admission_source_id  0.000103
4          norm_admission_type_id  0.010324
5                        norm_age  0.004414
6                     norm_change       inf
7             norm_chlorpropamide       inf
8   norm_discharge_disposition_id  0.017673
9                     norm_gender  0.001444
10               norm_glimepiride       inf
11  norm_glimepiride.pioglitazone       inf
12                 norm_glipizide       inf
13       norm_glipizide.metformin       inf
14                 norm_glyburide       inf
15       norm_glyburide.metformin       inf
16                   norm_insulin       inf
17             norm_max_glu_serum  0.001992
18         norm_medical_specialty  0.011540
19                 norm_metformin       inf
20    norm_metformin.pioglitazone       inf
21   norm_metformin.rosiglitazone       inf
22                  norm_miglitol       inf
23               norm_nateglinide       inf
24                norm_payer_code  0.046240
25              norm_pioglitazone       inf
26                      norm_race  0.001118
27                norm_readmitted  0.021669
28               norm_repaglinide       inf
29             norm_rosiglitazone       inf
30                norm_tolazamide       inf
31               norm_tolbutamide       inf
32              norm_troglitazone       inf
33                    norm_weight  0.006231

In [58]:
ivd = ivd[ivd['iv'] !=np.inf ]

In [59]:
iv = pd.concat([ iv, ivd ], ignore_index=True)

In [60]:
iv

                         variable        iv
0                       d_diag1_5  0.014494
1                       d_diag2_4  0.003711
2                       d_diag3_4  0.001103
3             d_num_medications_5  0.218622
4            d_number_diagnoses_5  0.004292
5            d_time_in_hospital_5  0.027428
6                  norm_A1Cresult  0.065663
7        norm_admission_source_id  0.000103
8          norm_admission_type_id  0.010324
9                        norm_age  0.004414
10  norm_discharge_disposition_id  0.017673
11                    norm_gender  0.001444
12             norm_max_glu_serum  0.001992
13         norm_medical_specialty  0.011540
14                norm_payer_code  0.046240
15                      norm_race  0.001118
16                norm_readmitted  0.021669
17                    norm_weight  0.006231

In [61]:
best = iv['variable'].tolist()
len(best)

18

In [62]:
df.columns

Index(['id', 'encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       ...
       'd_diag3_4', 'd_diag3_5', 'd_number_inpatient_2',
       'd_number_inpatient_3', 'd_number_inpatient_4', 'd_number_inpatient_5',
       'd_number_diagnoses_2', 'd_number_diagnoses_3', 'd_number_diagnoses_4',
       'd_number_diagnoses_5'],
      dtype='object', length=127)

# Transformacion WoE

In [63]:
X = df[ best + ['id'] ].copy()
y = df[ tgt  + ['id'] ].copy()

Xt, Xv, yt, yv = train_test_split(X, y, train_size=.7, random_state=2000 )



Xt = Xt.merge( yt , on=um, how='inner').reset_index(drop=True)

## Codificacion WoE

In [64]:
def codificacion_woe(df, v, tgt):
    aux = df.pivot_table( index=v,
                          columns=tgt,
                          values=um[0],
                          aggfunc='count',
                          fill_value=0)

    aux[list( range(2) )] = aux / aux.apply(np.sum)

    aux['w'] = np.log( aux[0] / aux[1] )

    aux.drop(range(2) , axis=1 , inplace=True )

    aux = aux.to_dict()['w']
    
    return v, aux

In [65]:
mapa_woe = list( map(  lambda v: codificacion_woe( Xt , v , tgt  ) , best  ) )

In [66]:
for v, mapa in mapa_woe:
    Xt[f'w_{v}'] = Xt[v].replace(mapa)
    Xv[f'w_{v}'] = Xv[v].replace(mapa)

In [67]:
print(Xt.shape, Xv.shape, yt.shape[0], yv.shape[0])

(71236, 38) (30530, 37) 71236 30530

In [68]:
varw = Xt.filter(like='w_').columns.tolist()

# TAD

In [69]:
tad_t = Xt[ um + varw  ].merge( yt , on = um , how='inner'  )

In [70]:
tad_t

,id,w_d_diag1_5,w_d_diag2_4,w_d_diag3_4,w_d_num_medications_5,w_d_number_diagnoses_5,w_d_time_in_hospital_5,w_norm_A1Cresult,w_norm_admission_source_id,w_norm_admission_type_id,w_norm_age,w_norm_discharge_disposition_id,w_norm_gender,w_norm_max_glu_serum,w_norm_medical_specialty,w_norm_payer_code,w_norm_race,w_norm_readmitted,w_norm_weight,diabetesMed
0,78520,0.038626,-0.086659,-0.038218,-0.170157,-0.049121,-0.113310,0.071156,0.003838,0.035555,-0.028127,-0.152203,-0.042718,-0.00961,0.057270,-0.155742,0.008101,0.126184,-0.015095,1
1,7252,-0.140094,0.080783,0.037102,-0.170157,0.026087,-0.113310,0.007783,0.003838,0.035555,0.093634,-0.016658,0.035862,-0.00961,0.057270,0.204086,0.005909,0.126184,-0.015095,0
2,98578,0.198189,-0.086659,0.027807,-0.348349,-0.049121,-0.032322,-1.024311,-0.013811,-0.091907,-0.072729,-0.016658,0.035862,-0.00961,0.023887,-0.261081,0.008101,-0.149852,-0.015095,1
3,75446,-0.015715,-0.049035,0.037102,-0.691886,-0.049121,-0.203704,0.071156,0.003838,0.035555,0.113007,0.271310,0.035862,-0.00961,0.057270,-0.155742,0.008101,0.126184,-0.015095,0
4,28631,0.038626,0.080783,0.037102,-0.170157,0.026087,-0.113310,0.071156,0.038589,0.035555,-0.004411,-0.016658,-0.042718,-0.00961,-0.067686,0.251925,-0.116190,-0.185172,-0.015095,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71231,17405,-0.015715,-0.049035,-0.027331,-0.170157,0.112506,-0.088500,0.071156,0.003838,0.035555,0.113007,0.271310,-0.042718,-0.00961,0.057270,0.204086,0.008101,0.126184,-0.015095,1
71232,19763,-0.122419,-0.086659,0.027807,0.700748,0.026087,-0.032322,0.071156,0.003838,0.035555,-0.072729,-0.016658,-0.042718,-0.00961,0.057270,0.204086,0.005909,-0.149852,-0.015095,1
71233,39926,0.038626,0.044496,0.037102,-0.170157,-0.049121,-0.032322,0.071156,-0.013811,-0.030932,-0.028127,-0.016658,0.035862,-0.00961,0.057270,-0.155742,0.008101,-0.149852,0.412987,1
71234,24332,0.038626,-0.049035,0.037102,-0.170157,0.026087,-0.088500,0.071156,-0.013811,-0.091907,-0.072729,-0.016658,-0.042718,-0.00961,0.057270,-0.155742,0.008101,0.126184,-0.015095,1
71235,93113,-0.140094,0.044496,0.037102,-0.170157,-0.049121,-0.203704,0.007783,0.003838,0.035555,0.113007,-0.100395,0.035862,-0.00961,-0.056951,0.204086,0.008101,-0.185172,-0.015095,1

In [78]:
pd.to_pickle( tad_t , 'Entrega_Modelo.pkl' , protocol=4  )